:root {
  --main: #101828;
  --text: #475467;
  --white: #FFFFFF;
  --inputs: #F7F7F7;
  --badges: #F2F4F7;
  --gray: #6C717B;
  --gray-light: #DADDE1;
  --button: #E44848;
  --button-hover: #D84343;
  --rating: #FFC531;
  --grey-green: #829B91;
  --olive: #F0F1F1;
  --green-hover: #6D7B75;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-inter), sans-serif;
  color: var(--main);
  background-color: var(--white);
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li{
  list-style: none;
}